
@{
    ViewBag.Title = "Truy cập bị hạn chế.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="four-zero-four-container">
    <div class="error-code">404</div>
    <div class="error-message">Truy cập bị hạn chế.</div>
    <div class="button-place">
        <a href="@Url.Action("index","Home")" class="btn btn-default btn-lg waves-effect">GO TO HOMEPAGE</a>
    </div>
</div>

<!-- Jquery Core Js -->
<script src="~/asset/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap Core Js -->
<script src="~/asset/plugins/bootstrap/js/bootstrap.js"></script>
<!-- Select Plugin Js -->
<script src="~/asset/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<!-- Slimscroll Plugin Js -->
<script src="~/asset/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- Waves Effect Plugin Js -->
<!-- Jquery CountTo Plugin Js -->
<script src="~/asset/plugins/jquery-countto/jquery.countTo.js"></script>
<!-- Morris Plugin Js -->
<script src="~/asset/plugins/raphael/raphael.min.js"></script>
<script src="~/asset/plugins/morrisjs/morris.js"></script>
<!-- ChartJs -->
<script src="~/asset/plugins/chartjs/Chart.bundle.js"></script>
<!-- Flot Charts Plugin Js -->
<script src="~/asset/plugins/flot-charts/jquery.flot.js"></script>
<script src="~/asset/plugins/flot-charts/jquery.flot.resize.js"></script>
<script src="~/asset/plugins/flot-charts/jquery.flot.pie.js"></script>
<script src="~/asset/plugins/flot-charts/jquery.flot.categories.js"></script>
<script src="~/asset/plugins/flot-charts/jquery.flot.time.js"></script>

<!-- Sparkline Chart Plugin Js -->
<script src="~/asset/plugins/jquery-sparkline/jquery.sparkline.js"></script>
<!-- Custom Js -->
<script src="~/asset/js/admin.js"></script>
<script src="~/asset/js/pages/index.js"></script>
<!-- Demo Js -->
<!-- Sweet Alert Plugin Js -->
<script src="~/asset/js/demo.js"></script>


<script src="~/asset/plugins/jquery-validation/jquery.validate.js"></script>
<script src="~/asset/plugins/jquery-steps/jquery.steps.js"></script>
<script src="~/asset/plugins/sweetalert/sweetalert.min.js"></script>
<script src="~/asset/js/pages/forms/form-validation.js"></script>
<script src="~/asset/js/pages/forms/form-wizard.js"></script>
<script src="~/asset/plugins/node-waves/waves.js"></script>


