/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2017 (14.0.1000)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2014
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [GAME_MENU_CONTROL]    Script Date: 20/04/2018 11:29:01 SA ******/
CREATE DATABASE [GAME_MENU_CONTROL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GAMEMENUCONTROL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GAMEMENUCONTROL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GAMEMENUCONTROL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GAMEMENUCONTROL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GAME_MENU_CONTROL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GAME_MENU_CONTROL]
GO
/****** Object:  User [admin]    Script Date: 20/04/2018 11:29:02 SA ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 20/04/2018 11:29:02 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 20/04/2018 11:29:02 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 20/04/2018 11:29:02 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 20/04/2018 11:29:02 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 20/04/2018 11:29:02 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 20/04/2018 11:29:02 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComputerMasterClient]    Script Date: 20/04/2018 11:29:02 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComputerMasterClient](
	[MAC] [nchar](50) NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[NameComputer] [nvarchar](128) NULL,
	[IP] [nvarchar](20) NULL,
	[IsDelete] [bit] NULL,
	[IsDisable] [bit] NULL,
	[DateJoin] [date] NULL,
 CONSTRAINT [PK_ComputerMasterClient] PRIMARY KEY CLUSTERED 
(
	[MAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComputerSubClient]    Script Date: 20/04/2018 11:29:02 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComputerSubClient](
	[MAC] [nchar](50) NOT NULL,
	[MacIdMaster] [nchar](50) NULL,
	[NameComputer] [nvarchar](128) NULL,
	[IP] [nvarchar](128) NULL,
	[DateJoin] [date] NULL,
	[IsDelete] [bit] NULL,
	[IsDisable] [bit] NULL,
 CONSTRAINT [PK_ComputerSubClient] PRIMARY KEY CLUSTERED 
(
	[MAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Licence]    Script Date: 20/04/2018 11:29:02 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licence](
	[Id] [nvarchar](128) NOT NULL,
	[LicenceKey] [nvarchar](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[NumberDevicesLiveActive] [int] NOT NULL,
	[MaxNumberDevices] [int] NOT NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_Licence] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[List_Game_Disk]    Script Date: 20/04/2018 11:29:02 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[List_Game_Disk](
	[Id] [nvarchar](128) NOT NULL,
	[NameGame] [nvarchar](256) NOT NULL,
	[URLExecute] [nvarchar](556) NULL,
	[IconUrL] [nvarchar](256) NULL,
	[IcoUrl] [nvarchar](256) NULL,
	[IconImage] [image] NULL,
	[DateScan] [date] NULL,
	[Size] [float] NULL,
	[Description] [nvarchar](1000) NULL,
	[Version] [nchar](10) NULL,
	[IsDelete] [bit] NULL,
	[IsGameOnline] [bit] NULL,
	[IsGameChienThuat] [bit] NULL,
 CONSTRAINT [PK_List_Game_Disk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAC_Licence]    Script Date: 20/04/2018 11:29:02 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAC_Licence](
	[MACMasterId] [nchar](50) NOT NULL,
	[LicenceId] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[IsLive] [bit] NULL,
	[DateInput] [date] NULL,
 CONSTRAINT [PK_MAC_Licence] PRIMARY KEY CLUSTERED 
(
	[MACMasterId] ASC,
	[LicenceId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu_Type]    Script Date: 20/04/2018 11:29:02 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu_Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Menu_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Control_Menu]    Script Date: 20/04/2018 11:29:02 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Control_Menu](
	[UserId] [nvarchar](128) NOT NULL,
	[GameId] [nvarchar](128) NOT NULL,
	[MenuId] [int] NOT NULL,
	[IsHidden] [bit] NULL,
 CONSTRAINT [PK_User_Control_Menu] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[GameId] ASC,
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Game_Owner]    Script Date: 20/04/2018 11:29:02 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Game_Owner](
	[UserId] [nvarchar](128) NOT NULL,
	[GameId] [nvarchar](128) NOT NULL,
	[IsShowOnMenu] [bit] NOT NULL,
	[IsRemoveOnDisk] [bit] NOT NULL,
	[IsGameHot] [bit] NULL,
	[URLDiskGame] [nvarchar](256) NULL,
	[IconUrlCustom] [nvarchar](256) NULL,
	[IcoUrlCustom] [nvarchar](256) NULL,
 CONSTRAINT [PK_User_Game_Owner] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Licence]    Script Date: 20/04/2018 11:29:02 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Licence](
	[Userid] [nvarchar](128) NOT NULL,
	[LicenceId] [nvarchar](128) NOT NULL,
	[DateStart] [date] NULL,
	[DateEnd] [date] NULL,
 CONSTRAINT [PK_User_Licence] PRIMARY KEY CLUSTERED 
(
	[Userid] ASC,
	[LicenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 20/04/2018 11:29:02 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[UserId] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](128) NULL,
	[LastName] [nvarchar](128) NULL,
	[Address] [nvarchar](228) NULL,
	[NumberPhone] [nvarchar](20) NULL,
	[DateCreate] [date] NULL,
	[IsDelete] [bit] NULL,
	[IsDisable] [bit] NULL,
	[LogoUrl] [nvarchar](228) NULL,
 CONSTRAINT [PK_UserProfile] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'f236591d-2c84-4784-86de-d1199d79d61a', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'9039a3e1-8f69-47bf-add1-0f21bb45a080', N'Client')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'40f26443-e83a-4957-a5e1-faa00af280e4', N'Nhân viên')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [Date]) VALUES (N'1a1d8cbf-5d4e-4eae-9e7f-99eb3a7984f6', N'f236591d-2c84-4784-86de-d1199d79d61a', NULL)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [Date]) VALUES (N'2af0b772-b5f1-4a9c-ad66-aae0bf7fdfa9', N'9039a3e1-8f69-47bf-add1-0f21bb45a080', NULL)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [Date]) VALUES (N'2af0b772-b5f1-4a9c-ad66-aae0bf7fdfa9', N'f236591d-2c84-4784-86de-d1199d79d61a', NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1a1d8cbf-5d4e-4eae-9e7f-99eb3a7984f6', N'sieugiaiphap@gmail.com', 0, N'AN1qy9P9Yg3riIKkspST0XsdvfSIFM7GL8l037ymtdRwZ3hFtGZb6pzXfM7TYBXl9w==', N'95955eb3-f7eb-494d-82cd-7c8707fa6525', NULL, 0, 0, NULL, 1, 0, N'sieugiaiphap@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2af0b772-b5f1-4a9c-ad66-aae0bf7fdfa9', N'bienhynh96@gmail.com', 0, N'AJFOALBgUvy6ooXZw+/hDYK6U3QrNG6iTd0ZfCj1F3LkOY0GzPVUASu2ogm3BOKCXg==', N'96b01479-45e3-456e-8abc-12edca9840b2', NULL, 0, 0, NULL, 1, 0, N'bienhynh96@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'd2d0701c-5b7b-4e94-85e2-9993fd5215bb', N'sieugiaiphap2@gmail.com', 0, N'ALS+CqcXS0lPsnNdTxqPucZW3fM/qItpDmlpRND68Sm+b/7zrXlAAgXuYBVEPfwdBA==', N'd249a84e-9954-4361-9c4b-4336df0b5cb8', NULL, 0, 0, NULL, 1, 0, N'sieugiaiphap2@gmail.com')
INSERT [dbo].[List_Game_Disk] ([Id], [NameGame], [URLExecute], [IconUrL], [IcoUrl], [IconImage], [DateScan], [Size], [Description], [Version], [IsDelete], [IsGameOnline], [IsGameChienThuat]) VALUES (N'SGP03215', N'THE WAR', N'/bâc/sgp_lol_go.exe', N'C:\Users\Administrator\Desktop\sgp-game-menu-control\MENU-GAME-CONTROL\Source Code\Tool_Client_Control\SGP.HCBBOOK.GameMenu.UI\SGP.HCBBOOK.GameMenu.UI\IMG\ico\SGP03215.png', NULL, NULL, CAST(N'2018-04-16' AS Date), 0, N'Thế chiến thứ 2 trong lịch sử sắp trở lại với trần thế', NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Menu_Type] ON 

INSERT [dbo].[Menu_Type] ([Id], [Name]) VALUES (1, N'Game All')
INSERT [dbo].[Menu_Type] ([Id], [Name]) VALUES (2, N'Game được nhiêu người chơi')
INSERT [dbo].[Menu_Type] ([Id], [Name]) VALUES (3, N'Game Hot')
SET IDENTITY_INSERT [dbo].[Menu_Type] OFF
INSERT [dbo].[User_Game_Owner] ([UserId], [GameId], [IsShowOnMenu], [IsRemoveOnDisk], [IsGameHot], [URLDiskGame], [IconUrlCustom], [IcoUrlCustom]) VALUES (N'1a1d8cbf-5d4e-4eae-9e7f-99eb3a7984f6', N'SGP03214', 0, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[User_Game_Owner] ([UserId], [GameId], [IsShowOnMenu], [IsRemoveOnDisk], [IsGameHot], [URLDiskGame], [IconUrlCustom], [IcoUrlCustom]) VALUES (N'2af0b772-b5f1-4a9c-ad66-aae0bf7fdfa9', N'SGP03214', 0, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[User_Game_Owner] ([UserId], [GameId], [IsShowOnMenu], [IsRemoveOnDisk], [IsGameHot], [URLDiskGame], [IconUrlCustom], [IcoUrlCustom]) VALUES (N'd2d0701c-5b7b-4e94-85e2-9993fd5215bb', N'SGP03214', 0, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[UserProfile] ([UserId], [FirstName], [LastName], [Address], [NumberPhone], [DateCreate], [IsDelete], [IsDisable], [LogoUrl]) VALUES (N'1a1d8cbf-5d4e-4eae-9e7f-99eb3a7984f6', N'Huynh ', N'Cao Bien', NULL, NULL, NULL, 0, 0, NULL)
INSERT [dbo].[UserProfile] ([UserId], [FirstName], [LastName], [Address], [NumberPhone], [DateCreate], [IsDelete], [IsDisable], [LogoUrl]) VALUES (N'2af0b772-b5f1-4a9c-ad66-aae0bf7fdfa9', N'Bui', N'Quang Duowc', NULL, NULL, NULL, 0, 0, NULL)
INSERT [dbo].[UserProfile] ([UserId], [FirstName], [LastName], [Address], [NumberPhone], [DateCreate], [IsDelete], [IsDisable], [LogoUrl]) VALUES (N'd2d0701c-5b7b-4e94-85e2-9993fd5215bb', N'', N'', N'', N'', CAST(N'2018-04-12' AS Date), 0, 0, N'')
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 20/04/2018 11:29:02 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 20/04/2018 11:29:02 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 20/04/2018 11:29:02 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 20/04/2018 11:29:02 SA ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 20/04/2018 11:29:02 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 20/04/2018 11:29:02 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Licence]    Script Date: 20/04/2018 11:29:02 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Licence] ON [dbo].[Licence]
(
	[LicenceKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ComputerMasterClient] ADD  CONSTRAINT [DF_ComputerMasterClient_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[ComputerMasterClient] ADD  CONSTRAINT [DF_ComputerMasterClient_IsDisable]  DEFAULT ((0)) FOR [IsDisable]
GO
ALTER TABLE [dbo].[ComputerSubClient] ADD  CONSTRAINT [DF_ComputerSubClient_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[ComputerSubClient] ADD  CONSTRAINT [DF_ComputerSubClient_IsDisable]  DEFAULT ((0)) FOR [IsDisable]
GO
ALTER TABLE [dbo].[Licence] ADD  CONSTRAINT [DF_Licence_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Licence] ADD  CONSTRAINT [DF_Licence_NumberDevicesLiveActive]  DEFAULT ((0)) FOR [NumberDevicesLiveActive]
GO
ALTER TABLE [dbo].[Licence] ADD  CONSTRAINT [DF_Licence_MaxNumberDevices]  DEFAULT ((1)) FOR [MaxNumberDevices]
GO
ALTER TABLE [dbo].[Licence] ADD  CONSTRAINT [DF_Licence_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[List_Game_Disk] ADD  CONSTRAINT [DF_List_Game_Disk_DateScan]  DEFAULT (getdate()) FOR [DateScan]
GO
ALTER TABLE [dbo].[List_Game_Disk] ADD  CONSTRAINT [DF_List_Game_Disk_Size]  DEFAULT ((0)) FOR [Size]
GO
ALTER TABLE [dbo].[List_Game_Disk] ADD  CONSTRAINT [DF_List_Game_Disk_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[List_Game_Disk] ADD  CONSTRAINT [DF_List_Game_Disk_IsGameOnline]  DEFAULT ((0)) FOR [IsGameOnline]
GO
ALTER TABLE [dbo].[List_Game_Disk] ADD  CONSTRAINT [DF_List_Game_Disk_IsGameChienThuat]  DEFAULT ((0)) FOR [IsGameChienThuat]
GO
ALTER TABLE [dbo].[MAC_Licence] ADD  CONSTRAINT [DF_MAC_Licence_IsLive]  DEFAULT ((1)) FOR [IsLive]
GO
ALTER TABLE [dbo].[User_Control_Menu] ADD  CONSTRAINT [DF_User_Control_Menu_MenuId]  DEFAULT ((3)) FOR [MenuId]
GO
ALTER TABLE [dbo].[User_Control_Menu] ADD  CONSTRAINT [DF_User_Control_Menu_IsHidden]  DEFAULT ((0)) FOR [IsHidden]
GO
ALTER TABLE [dbo].[User_Game_Owner] ADD  CONSTRAINT [DF_User_Game_Owner_IsShowOnMenu]  DEFAULT ((1)) FOR [IsShowOnMenu]
GO
ALTER TABLE [dbo].[User_Game_Owner] ADD  CONSTRAINT [DF_User_Game_Owner_IsRemoveOnDisk]  DEFAULT ((0)) FOR [IsRemoveOnDisk]
GO
ALTER TABLE [dbo].[User_Game_Owner] ADD  CONSTRAINT [DF_User_Game_Owner_IsGameHot]  DEFAULT ((0)) FOR [IsGameHot]
GO
ALTER TABLE [dbo].[UserProfile] ADD  CONSTRAINT [DF_UserProfile_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[UserProfile] ADD  CONSTRAINT [DF_UserProfile_IsDisable]  DEFAULT ((0)) FOR [IsDisable]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ComputerMasterClient]  WITH CHECK ADD  CONSTRAINT [FK_ComputerMasterClient_UserProfile] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserProfile] ([UserId])
GO
ALTER TABLE [dbo].[ComputerMasterClient] CHECK CONSTRAINT [FK_ComputerMasterClient_UserProfile]
GO
ALTER TABLE [dbo].[ComputerSubClient]  WITH CHECK ADD  CONSTRAINT [FK_ComputerSubClient_ComputerMasterClient] FOREIGN KEY([MacIdMaster])
REFERENCES [dbo].[ComputerMasterClient] ([MAC])
GO
ALTER TABLE [dbo].[ComputerSubClient] CHECK CONSTRAINT [FK_ComputerSubClient_ComputerMasterClient]
GO
ALTER TABLE [dbo].[MAC_Licence]  WITH CHECK ADD  CONSTRAINT [FK_MAC_Licence_ComputerMasterClient] FOREIGN KEY([MACMasterId])
REFERENCES [dbo].[ComputerMasterClient] ([MAC])
GO
ALTER TABLE [dbo].[MAC_Licence] CHECK CONSTRAINT [FK_MAC_Licence_ComputerMasterClient]
GO
ALTER TABLE [dbo].[MAC_Licence]  WITH CHECK ADD  CONSTRAINT [FK_MAC_Licence_User_Licence] FOREIGN KEY([LicenceId], [UserId])
REFERENCES [dbo].[User_Licence] ([Userid], [LicenceId])
GO
ALTER TABLE [dbo].[MAC_Licence] CHECK CONSTRAINT [FK_MAC_Licence_User_Licence]
GO
ALTER TABLE [dbo].[User_Control_Menu]  WITH CHECK ADD  CONSTRAINT [FK_User_Control_Menu_Menu_Type] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menu_Type] ([Id])
GO
ALTER TABLE [dbo].[User_Control_Menu] CHECK CONSTRAINT [FK_User_Control_Menu_Menu_Type]
GO
ALTER TABLE [dbo].[User_Game_Owner]  WITH CHECK ADD  CONSTRAINT [FK_User_Game_Owner_List_Game_Disk] FOREIGN KEY([GameId])
REFERENCES [dbo].[List_Game_Disk] ([Id])
GO
ALTER TABLE [dbo].[User_Game_Owner] CHECK CONSTRAINT [FK_User_Game_Owner_List_Game_Disk]
GO
ALTER TABLE [dbo].[User_Game_Owner]  WITH CHECK ADD  CONSTRAINT [FK_User_Game_Owner_UserProfile] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserProfile] ([UserId])
GO
ALTER TABLE [dbo].[User_Game_Owner] CHECK CONSTRAINT [FK_User_Game_Owner_UserProfile]
GO
ALTER TABLE [dbo].[User_Licence]  WITH CHECK ADD  CONSTRAINT [FK_User_Licence_Licence] FOREIGN KEY([LicenceId])
REFERENCES [dbo].[Licence] ([Id])
GO
ALTER TABLE [dbo].[User_Licence] CHECK CONSTRAINT [FK_User_Licence_Licence]
GO
ALTER TABLE [dbo].[User_Licence]  WITH CHECK ADD  CONSTRAINT [FK_User_Licence_UserProfile] FOREIGN KEY([Userid])
REFERENCES [dbo].[UserProfile] ([UserId])
GO
ALTER TABLE [dbo].[User_Licence] CHECK CONSTRAINT [FK_User_Licence_UserProfile]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ẩn máy này trên GUI
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ComputerMasterClient', @level2type=N'COLUMN',@level2name=N'IsDelete'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Vô hiệu hóa menu trên toàn bộ máy trạm này' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ComputerMasterClient', @level2type=N'COLUMN',@level2name=N'IsDisable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Xóa hiển thị trên GUI' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ComputerSubClient', @level2type=N'COLUMN',@level2name=N'IsDelete'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Vô hiệu hóa menu trên máy con này' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ComputerSubClient', @level2type=N'COLUMN',@level2name=N'IsDisable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Trạng thái còn sống của licence. 
true là còn sống, false là không còn sống.
Nếu Licence còn sống thì các máy chạy licence sẽ còn quyền điều khiển menu.
Ngược lại chết thì một số tính năng điều khiển của khách hàng chạy licence này sẽ bị vo hiệu hóa.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Licence', @level2type=N'COLUMN',@level2name=N'IsActive'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tổng số máy đang sử dụng licence không tính máy bị chết' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Licence', @level2type=N'COLUMN',@level2name=N'NumberDevicesLiveActive'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số máy tối đa có thể dùng cùng một licence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Licence', @level2type=N'COLUMN',@level2name=N'MaxNumberDevices'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giá trị của licence này, tính bằng tiền việt nam đồng.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Licence', @level2type=N'COLUMN',@level2name=N'Price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đánh dấu là xóa: true xóa, false không xóa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'List_Game_Disk', @level2type=N'COLUMN',@level2name=N'IsDelete'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'đây la game online hay offline, 1 la online, 0 la offline
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'List_Game_Disk', @level2type=N'COLUMN',@level2name=N'IsGameOnline'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 la game chien thuat' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'List_Game_Disk', @level2type=N'COLUMN',@level2name=N'IsGameChienThuat'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Trạng thái sống của máy với licence này. nghĩa là máy đó có đang sử dụng licence này hay không, hoặc card mạng của máy đó bị die thị sẽ đặt giá trị là false. 
Còn đang sử dụng thì true.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MAC_Licence', @level2type=N'COLUMN',@level2name=N'IsLive'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày nhập licence
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MAC_Licence', @level2type=N'COLUMN',@level2name=N'DateInput'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bảng Menu type là loại menu này là gì:
Menu Game mới
Menu game hot
Menu all
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Menu_Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ẩn menu hay không?
Có là true.
Không là false.
Nếu true thì game này sẽ bị ẩn đi.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User_Control_Menu', @level2type=N'COLUMN',@level2name=N'IsHidden'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ẩn hiện game này trên giao diên menu: true ẩn, false hiện' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User_Game_Owner', @level2type=N'COLUMN',@level2name=N'IsShowOnMenu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Xóa game khỏi Đĩa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User_Game_Owner', @level2type=N'COLUMN',@level2name=N'IsRemoveOnDisk'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 laf game hot,0 la game khong hot' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User_Game_Owner', @level2type=N'COLUMN',@level2name=N'IsGameHot'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Duowngf dan de dia game' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User_Game_Owner', @level2type=N'COLUMN',@level2name=N'URLDiskGame'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Icon do nguoi dung tu cap nhat' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User_Game_Owner', @level2type=N'COLUMN',@level2name=N'IconUrlCustom'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Icon do nguoi dung tu cap nhat Anh nho' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User_Game_Owner', @level2type=N'COLUMN',@level2name=N'IcoUrlCustom'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày bắt đầu mở licence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User_Licence', @level2type=N'COLUMN',@level2name=N'DateStart'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày hết hạn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User_Licence', @level2type=N'COLUMN',@level2name=N'DateEnd'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Vô hiệu hóa tài khoản.
true là vô hiệu hóa, false là không vô hiệu hóa.
Tài khoản nào bị vô hiệu hóa thì sẽ không có quyền đăng nhập vào hệ thống.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UserProfile', @level2type=N'COLUMN',@level2name=N'IsDisable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Logo tiệm nét của khách hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UserProfile', @level2type=N'COLUMN',@level2name=N'LogoUrl'
GO
USE [master]
GO
